/*------------------------------------------------------------
- Banner
------------------------------------------------------------*/

/*------ Home Banner ------*/

.banner-wrapper {
    @include bg-cover(cover, center);
    height: 737px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include breakpoint(x-large) {
        height: 510px;
    }
    .banner-content {
        text-align: center;
        h1 {
            color: $color-white;
            margin-bottom: 50px;
            line-height: normal;
            font-family: $sans-Serif-Bold;
            letter-spacing: 0.01em;
            @include breakpoint(x-large) {
                margin-bottom: 30px;
            }
        }
        .tab-wrap {
            max-width: 1198px;
            background: $color-white;
            margin: 0 auto;
            .nav-tabs {
                border-color: $color-primary;
                li {
                    width: 50%;
                    a {
                        font-size: em(31);
                        color: $color-secondary;
                        line-height: 2.5em;
                        display: block;
                        font-family: $sans-Serif-Medium;
                        @include breakpoint(x-large) {
                            font-size: em(25);
                        }
                        &.active {
                            background: $color-primary;
                            color: $color-white;
                            
                        }
                    }
                }
            }
            .tab-content {
                padding: 46px 63px;
                @include breakpoint(x-large) {
                    padding: 40px 55px;
                }
                form {
                    .form-group {
                        margin-bottom: 0px;
                        position: relative;
                        svg {
                            height: 20px;
                            width: 20px;
                            position: absolute;
                            left: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            fill: #a7a5a6;
                        }
                        input,
                        select {
                            padding-left: 45px;
                        }
                    }
                    .button-wrap {
                        margin-top: 45px;
                        button {
                            min-width: 265px;
                            line-height: 2.9em;
                            font-size: em(22);
                            text-transform: $text-uppercase;
                            @include breakpoint(x-large) {
                                font-size: em(18);
                                min-width: 240px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Inner Banner -----*/

.inner-banner-wrapper {
    @include bg-cover(contain, right);
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(x-large) {
        height: 400px;
    }
    .content-sec {
        width: 550px;
        text-align: center;
        h2 {
            color: #2c3e50;
            margin-bottom: 20px;
        }
        p {
            font-size: 35px;
            color: #2c3e50;
            line-height: 1.3em;
            font-weight: $font-weight-light;
            @include breakpoint(x-large) {
                font-size: 30px;
            }
        }
    }
}