/*---------------------------------------------------------------
- Footer
---------------------------------------------------------------*/

.footer-wrapper {
    ul {
        margin-bottom: 0px;
        li {
            list-style: none;
        }
    }
    .footer-top {
        background: $color-primary;
        padding: 40px 0px;
        .container {
            display: flex;
            justify-content: space-between;
            .footer-logo-wrap {
                width: 335px;
                margin-right: 120px;
            }
            .footer-nav {
                width: 560px;
                margin-right: 55px;
            }
            .contactus-wrap {
                width: 324px;
            }
        }
        .sec-title {
            color: $color-white;
            text-transform: $text-uppercase;
            font-family: $sans-serif;
            letter-spacing: 0.11em;
            margin-bottom: 15px;
        }
        .footer-logo {
            margin-bottom: 40px;
            a {
                display: inline-block;
                max-width: 270px;
            }
        }
        .dow-app {
            h4 {
                color: $color-white;
                font-family: $sans-Serif-Light;
                margin-bottom: 18px;
                text-transform: $text-uppercase;
                letter-spacing: 0.05em;
            }
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        display: inline-block;
                        @include breakpoint(x-large) {
                            max-width: 122px;
                        } 
                    }
                }
            }
        }
        .footer-nav {
            ul {
                li {
                    display: inline-block;
                    width: 49%;
                    vertical-align: middle;
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 20px;
                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: em(20);
                        color: $color-white;
                    }
                    a {
                        color: $color-white;
                        font-size: em(25);
                        font-family: $sans-Serif-Medium;
                        letter-spacing: 0.1em;
                        @include breakpoint(x-large) {
                           font-size: em(20);
                        } 
                        &:hover {
                            color: $color-darkest;
                        }
                    }
                }
            }
        }
        .contactus-wrap {
            li {
                margin-bottom: 15px;
                position: relative;
                padding-left: 30px;
                i {
                    position: absolute;
                    left: 0;
                    top: 8px;
                    font-size: em(20);
                    color: $color-white;
                    @include breakpoint(x-large) {
                        top: 6px;
                    }
                }
                a,
                address {
                    color: $color-white;
                    font-size: em(25);
                    font-family: $sans-Serif-Medium;
                    letter-spacing: 0.1em;
                    @include breakpoint(x-large) {
                       font-size: em(20);
                    }
                }
                address {
                    margin-bottom: 0px;
                    line-height: normal;
                }
                a { 
                    &:hover {
                        color: $color-darkest;
                    }
                }
            }
        }
    }
    .footer-bottom {
        background: #40b013;
        padding: 12px 0px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        span {
            font-size: em(25);
            color: $color-white;
            font-family: $sans-Serif-Light;
            @include breakpoint(x-large) {
                font-size: em(20);
            }
        }
        .social-share {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 13px;
                    a {
                        font-size: em(20);
                        color: $color-white;
                    }
                    &:hover {
                        a {
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}