/*------------------------------------------------------------
- Forms
------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="file"],
.form-control {
    padding: 2px 15px;
    width: 100%;
    border-radius: 0px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $sans-Serif-Book;
    color: $color-black;
    font-size: em(19);
    background: $color-white;
    border: none;
    border: 1px solid $color-grey;
}

textarea.form-control {
    padding: 15px 15px;
    resize: none;
    border-radius: 0px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"], 
input[type="file"] {
    height: 50px;
    @include breakpoint(x-large) {
        height: 45px;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: $color-primary;
    color: $color-black;
}

.form-control::-webkit-input-placeholder { 
    color: $color-darkest;
}
.form-control::-moz-placeholder { 
    color: $color-darkest;
}
.form-control:-ms-input-placeholder { 
    color: $color-darkest;
}
input:-moz-placeholder { 
    color: $color-darkest;
}

select,
select.form-control {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 1px solid #c5c5c5;
    height: 50px;
    outline: medium none;
    padding: 0px 15px;
    text-indent: 1px;
    text-transform: none;
    width: 100%;
    background: white url("../images/select-arrow.png") no-repeat scroll right;
    color: $color-darkest;
    font-family: $sans-Serif-Book;
    font-size: em(19);
    @include breakpoint(x-large) {
        height: 45px;
    }
}

select::-ms-expand {
    display: none;
}

label {
    font-size: em(20);
    color: $color-black;
    font-family: $sans-Serif-Medium;
    text-transform: capitalize;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    appearance: checkbox !important;
    border-radius: 0;
}