/*------------------------------------------------------------
- Header
------------------------------------------------------------*/

.header {
    .header-top {
        background: $color-secondary;
        padding: 10px 0px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        ul {
            margin-bottom: 5px;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 20px;
                a {
                    color: $color-primary;
                    font-size: em(22);
                    line-height: normal;
                    &:hover {
                        color: $color-white;
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        h5 {
            margin-bottom: 0px;
            color: $color-white;
            font-family: $sans-Serif-Light;
            text-align: center;
            text-transform: $text-capitalize;
            letter-spacing: 0.03em;
        }
        .login-details-wrap {
            > ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0px;
            }
            li {
                margin: 0 15px;
                a {
                    color: $color-white;
                    font-family: $sans-Serif-Light;
                    text-transform: $text-capitalize;
                    font-size: em(22);
                    display: inline-block;
                    vertical-align: middle;
                    &:hover {
                        color: $color-primary;
                    }
                    svg {
                        height: 18px;
                        width: 18px;
                        fill: $color-primary;
                        display: block;
                        text-align: center;
                        margin: 0 auto 5px;
                    }
                }
                .bfh-selectbox {
                    .bfh-selectbox-toggle {
                        background: transparent url("../images/select-arrow1.png") no-repeat scroll right 20% ;
                        padding: 0px;
                        min-width: 70px;
                        .bfh-selectbox-option {
                            font-family: $sans-Serif-Light;
                            display: inline-block;
                            height: auto;
                            vertical-align: middle;
                            text-align: center;
                            i.glyphicon {
                                display: block;
                                text-align: center;
                                margin: 0 auto 5px;
                            }
                        }
                        &.form-control {
                            border: none;
                        }
                        .selectbox-caret {
                            margin-top: 0px;
                        }
                    }
                    .bfh-selectbox-options {
                        border-radius: 0;
                        ul {
                            max-width: 275px;
                            li {
                                display: block;
                                margin: 0px;
                                a {
                                    color: $color-secondary;
                                    display: inline-block;
                                    justify-content: inherit;
                                    align-items: inherit;
                                    i.glyphicon {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        background: $color-primary;
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 0px;
            .navbar-brand {
                @include breakpoint(x-large) {
                    max-width: 270px;
                }
            }
            .nav {
                &.navbar-nav {
                    li {
                        margin: 0 25px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        @include breakpoint(x-large) {
                            margin: 0 18px;
                        }
                        a {
                            font-size: em(30);
                            color: $color-white;
                            font-family: $sans-serif;
                            text-transform: $text-capitalize;
                            padding: 0px;
                            position: relative;
                            margin: 20px 0;
                            @include breakpoint(x-large) {
                                font-size: em(22);
                            }
                            &:hover {
                                color: $color-white;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                left: 0;
                                right: 0;
                                height: 3px;
                                background: $color-white;
                                transform: scaleX(0);
                                display: block;
                                transform-origin: 50% 50%;
                                transition: transform 0.2s ease-out;
                                transition: transform 0.2s ease-out, 
                                -webkit-transform 0.2s ease-out;
                                will-change: transform;
                            }
                        }
                        &:hover {
                            .dropdown-content {
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(0%);
                                transition: all 0.4s ease 0s;
                                pointer-events: auto;
                            }
                        }
                        .dropdown-content {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            min-width: 800px;
                            text-align: left;
                            z-index: 99;
                            right: -120px;
                            transform: translateY(2em);
                            transform-origin: 0 0 0;
                            transition: all 0.4s ease 0s;
                            background: #ffffff;
                            pointer-events: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 30px;
                            box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
                            .sub-menu {
                                position: relative;
                                width: 100%;
                                padding-left: 50px;
                                &:after {
                                    content: "";
                                    width: 1px;
                                    height: 100%;
                                    background: $color-grey;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: 0px;
                                }
                                &:first-child {
                                    padding-left: 0px;
                                }
                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                                h4 {
                                    color: $color-primary;
                                    font-family: $sans-Serif-Bold;
                                    margin-bottom: 20px;
                                }
                                 li {
                                    display: block;
                                    transition: all 0.4s ease-in-out 0s;
                                     margin: 0 0 10px;
                                     position: relative;
                                     padding-left: 15px;
                                     &:before {
                                         content: "\f111";
                                         font-family: FontAwesome;
                                         color: $color-primary;
                                         font-size: 8px;
                                         position: absolute;
                                         left: 0;
                                         top: 50%;
                                         transform: translateY(-50%);
                                     }
                                     &:hover {
                                         a {
                                             color: $color-primary;
                                         }
                                     }
                                    a {
                                        color: #595959;
                                        font-size: em(20);
                                        display: block;
                                        transition: padding 0.3s ease-in-out 0s;
                                        font-family: $sans-Serif-Light
                                    }
                                    &:hover {
                                        > .sub-menu {
                                            visibility: visible;
                                            opacity: 1;
                                            transform: translateY(0%);
                                            transition: all 0.4s ease 0s;
                                            pointer-events: auto;
                                        }
                                    }
                                    .sub-menu {
                                        left: 100%;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                    > li {
                        &.current-menu-item,
                        &.current-menu-parent {
                            > a {
                                &:after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                        &:hover {
                            a {
                                &:after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Sticky Header -----*/

.fixed-header {
    .header-bottom {
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-name: fadeInDown;
        animation-timing-function: linear;
        opacity: 1;
        visibility: visible;
        z-index: 999;
        position: fixed;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    .navbar {
        padding: 10px 0px;
    }
    .navbar-brand {
        width: 65%;
    }
    .header-top {
        display: none;
    }
}