/*----------------------------------------------
- Popups Css
----------------------------------------------*/

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    ul {
        li {
            list-style: none;
        }
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 450px;
        width: 90%;
        background: #fff;
    }
    .popup-inner-elem {
        position: relative;
        padding: 25px;
        @include breakpoint(x-large) { 
            padding: 10px 20px;
        }
        .title {
            text-align: center;
            border-bottom: 1px solid $color-grey;
            margin-bottom: 20px;
             h3 {
                color: $color-darkest;
                font-family: $sans-Serif-Book;
                letter-spacing: 0.02em;
            }
        }
        p {
            color: #a1a1a1;
            text-align: left;
        }
        .popup-close {
            position: absolute;
            right: -12px;
            top: -12px;
            padding: 0;
            min-width: auto;
            background: #494949;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 1;
            z-index: 99;
            svg {
                height: 13px;
                width: 13px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                fill: $color-white;
                margin: 0 auto;
            }
            &:hover {
                background: $color-primary;
                transform: rotate(180deg);
            }
        }
        form {
            text-align: left;
            label {
                font-size: em(20);
                font-family: $sans-Serif-Book;
                color: $color-primary;
                @include breakpoint(x-large) { 
                    font-size: em(18);
                }
            }
            .form-control {
                box-shadow: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $color-grey;
                padding: 0px 0px 5px;
                height: 30px;
                &:focus {
                    border-top-color: none;
                    border-left-color: none;
                    border-right-color: none;
                    border-bottom-color: $color-black;
                }
            }
            select {
                box-shadow: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $color-grey;
                padding: 0px 0px 5px;
                height: 30px;
            }
            .form-group {
                margin-bottom: 0.5rem;
            }
            .form-control + label {
                position: absolute;
                left: 0;
                top: 1.15em;
                transition: transform 200ms ease;
                pointer-events: none;
                color: #151515;
                font-size: 14px;
                text-transform: inherit;
                font-weight: 500;
            }
            .form-control:focus + label,
            .form-control + label.freeze {
                transform: translateY(-3em);
                top: 2.20em;
            }
            .button-sec {
                padding-top: 10px;
                margin-bottom: 5px;
                button {
                    width: 100%;
                    font-family: $sans-Serif-Book;
                    font-size: em(20);
                }
            }
        }
        .already-account {
            span,
            a {
                color: #949494;
                font-size: em(20);
                font-family: $sans-Serif-Book;
            }
            a {
                color: $color-primary;
                &:hover {
                    color: $color-black;
                }
            }
        }
        .term-conditions {
            span,
            a {
                color: #828282;
                font-family: $sans-Serif-Light;
                font-size: em(16);
            }
            a {
                font-family: $sans-Serif-Medium;
                border-bottom: 1px solid #828282;
                &:hover {
                    color: $color-primary;
                    border-color: $color-primary;
                }
            }
        }
        .forgot-password {
            display: block;
            text-align: center;
            a {
                font-size: em(20);
                color: $color-primary;
                letter-spacing: 0.01em;
                display: inline-block;
                font-family: $sans-Serif-Light;
                &:hover {
                    color: $color-black;
                }
            }
        }
        .social-share {
            ul {
                margin-bottom: 0px;
            }
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0px;
                }
                a {
                    display: block;
                    border: 1px solid $color-grey;
                    color: #969696;
                    font-family: $sans-Serif-Light;
                    font-size: em(20);
                    border-radius: 50px;
                    line-height: 3em;
                    position: relative;
                    figure {
                        position: absolute;
                        left: 20px;
                        top: -2px;
                        bottom: 0;
                        margin: 0px;
                    }
                }
                &.facebook {
                    a {
                        background: $color-facebook;
                        color: $color-white;
                    }
                }
            }
        }
        .or {
            margin: 12px 0px;
            position: relative;
            text-align: center;
            z-index: 1;
            span {
                color: #828282;
                font-size: em(20);
                font-family: $sans-Serif-Book;
                display: inline-block;
                background: $color-white;
                padding: 0 10px;
                text-transform: $text-uppercase;
            }
            &:after {
                content: "";
                height: 2px;
                background: #e3e3e3;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: -1;
            }
        }
    }
    .buttons-wrap {
        margin: 20px 0px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;
            li {
                width: 43%;
                text-align: center;
                a {
                    display: block;
                    font-family: $sans-Serif-Book;
                    font-size: em(25);
                    color: #969696;
                    border: 1px solid #969696;
                    border-radius: 50px;
                    line-height: 2em;
                }
                &:hover {
                    a {
                        background: $color-primary;
                        border-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }
    }
    &.widget,
    &.rescompleted {
        .popup-inner-elem {
            padding: 0px;
            .title {
                border: none;
                background: $color-primary;
                margin: 0px;
                padding: 20px;
                h3 {
                    margin-bottom: 0px;
                    color: $color-white;
                    font-family: $sans-Serif-Bold;
                }
            }
            .content {
                padding: 20px 30px;
            }
        }       
        .sidebar-price-slider {
            margin: 20px 0 10px;
            .price-sec {
                min-height: 80px;
            }
        }
        form {
            .form-control {
                border-left: none;
                border-right: none;
                border-top: none;
                padding: 0px;
                height: 40px;
            }
            select {
                height: 40px;
            }
            .buttons-wrap {
                margin-bottom: 0px;   
            }
        }
        .content-sec {
            h4 {
                font-size: em(25);
            }
        }
    }
    .map-sec {
        height: 230px;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    .address-sec {
        border: 1px solid $color-grey;
        padding: 10px;
        margin-bottom: 15px;
        span,
        address {
            color: #7a7a7a;
            font-family: $sans-Serif-Medium;
            font-size: em(18);
        }
        address {
            color: #242424;
            margin-bottom: 0px;
        }
    }
    &.addaddress,
    &.payment {
        form {
            .form-group {
                margin-bottom: 15px;
            }
            .form-control {
                height: 40px;
            }
            button {
                margin-top: 30px;
            }
        }
    }
    &.coupon {
        form {
            .form-group {
                position: relative;
                margin-bottom: 30px;
                .form-control {
                    border: 1px solid $color-grey;
                    height: 50px;
                    padding: 2px 110px 2px 10px;
                }
                button {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 0px;
                    font-family: $sans-Serif-Medium ;
                    font-size: em(20);
                }
            }
        }
        .coupon-wrap {
            text-align: left;
            article {
                border-bottom: 1px solid $color-grey;
                margin-bottom: 20px;
                padding-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    border: none;
                }
                a {
                    display: inline-block;
                    &.more-detail {
                        font-size: em(15);
                        color: #0067c0;
                        font-family: $sans-Serif-Bold;
                        text-transform: $text-uppercase;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}