/*------------------------------------------------------------
- Sidebar
------------------------------------------------------------*/

.sidebar-sec {
    .widget {
        margin-bottom: 2.5em;
        ul {
            list-style: none;
        }
        .widget-title {
            text-transform: capitalize;
            color: $color-darkest;
            margin-bottom: 20px;
            letter-spacing: 0.02em;
        }
    }
    .widget_search {
        form {
            .form-group {
                margin-bottom: 0;
            }
            #s {
                border-color: $color-grey;
                box-shadow: none;
                margin-bottom: 0;
                padding: 5px 50px 5px 20px;
                height: 54px;
            }
            #searchsubmit {
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                font-family: FontAwesome;
                background: none;
                border: none;
                font-size: 16px;
                color: #6c6c6c;
                transition: all 0.3s ease-in-out 0s;
                min-width: auto;
                padding: 0px;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    .widget_popularpost {
        border: 1px solid $color-grey;
        padding: 20px;
        ul {
            margin-bottom: 0px;
        }
        .recent-post-grid {
            position: relative;
            margin-bottom: 50px;
            padding-left: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
            figure {
                margin-bottom: 0px;
            }
            .featured-thumb {
                width: 80px;
                @include bg-cover(cover,center center);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .content-sec {
                h6 {
                    margin-bottom: 8px;
                    font-size: em(17);
                    a {
                        color: $color-black;
                        letter-spacing: 0.02em;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                p {
                    font-size: em(17);
                    margin-bottom: 0px;
                }
            }
        }
    }
}