/*----------------------------------------------
- Custom Css
----------------------------------------------*/

@include breakpoint(xx-large) {
    .container {
        max-width: 1470px;
    }
}

.section {
    padding: 70px 0px;
    @include breakpoint(x-large) {
        padding: 50px 0px;
    }
    .sec-title {
        margin-bottom: 50px;
        @include breakpoint(x-large) {
            margin-bottom: 30px;
        }
        h3 {
            font-size: em(35);
            color: $color-darkest;
            text-align: center;
            @include breakpoint(x-large) {
                font-size: em(30);
            }
        }
    }
}

.content-wrap {
    h4 {
        font-size: em(24);
        color: $color-darkest;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 1.5em;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    ul {
        margin-bottom: 1.5em;
        li {
            list-style: none;
            margin-bottom: 15px;
            color: #4c4c4c;
            font-family: $sans-Serif-Light;
            font-size: em(20);
            position: relative;
            padding-left: 20px;
            &:before {
                content: "\f111";
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                top: 9px;
                font-size: 8px;
                color: $color-primary;
                @include breakpoint(x-large) {
                    top: 7px;
                }
            }
        }
    }
    article {
        margin-bottom: 3em;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

/*----- Read More -----*/

.read-more {
    display: inline-block;
    color: $color-primary;
    font-size: em(21);
    font-family: $sans-Serif-Medium; 
    text-transform: $text-capitalize;
    &:hover {
        color: $color-secondary;
    }
}

/*----- Slick Arrow ------*/

.slick-slide {
    outline: none;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	cursor: pointer;
    display: inline-block;
	i {
		color: $color-primary;
        font-size: em(25);
        position: relative;
        font-family: FontAwesome;
        text-align: center;
        transition: all 0.3s ease-in-out 0s;
	}
    &:hover {
        i {
            color: $color-secondary;
        }
    }
	&.slick-prev {
		left: -10px;
	}
	&.slick-next {
		right: -10px;
	}
}

.owl-nav  {
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        i {
            color: $color-black;
            border: 1px solid #d0d0d0;
            height: 40px;
            width: 40px;
            display: inline-block;
            border-radius: 100%;
            font-size: em(25);
            line-height: 22px;
            position: relative;
            font-family: FontAwesome;
            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            &:hover {
               color: $color-primary;
                border-color: $color-primary;
            }    
        }
        &.owl-prev {
            left: -70px;
        }
        &.owl-next {
            right: -70px;
        }
    }
}

/*------ Pagination ------*/

.pagination-wrap {
    text-align: center;
    ul {
        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;
            transition: inherit;
            a {
                font-size: em(20);
                font-family: $sans-serif;
                margin: 0 auto;
                background: #eaeaea;
                color: $color-black;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                transition: all 0.3s ease-in-out 0s;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &:hover {
                a {
                    color: $color-primary;
                }
            }
            &.active,
            &:hover {
                a {
                    color: $color-white;
                    background: $color-primary;
                }
            }
        }
    }
}

/*----- Chat Section -----*/

.lets-chat-wrap {
    position: fixed;
    right: 70px;
    bottom: 20px;
    text-align: center;
    z-index: 99;
    figure {
        height: 80px;
        margin: 0 auto 15px;
        width: 80px;
    }
    a {
        color: $color-primary;
        font-size: em(22);
        font-family: $sans-Serif-Medium;
    }
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10;
    border-radius: 0 0 0.5em 0.5em;
}