/*------------------------------------------------------------
- Buttons
------------------------------------------------------------*/

/*----- Theme Button Section ------*/

.theme-btn {
    font-size: em(16);
    font-family: $sans-Serif-Medium;
    border-radius: 50px;
    line-height: 2.5;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    text-transform: $text-uppercase;
    color: $color-white;
    background: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
        background: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;
    }
}

/*----- Button Section ------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $sans-Serif-Medium;
    text-transform: capitalize;
    display: inline-block;
    font-size: em(16);
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    line-height: 2.5em;
    color: $color-white;
    background: $color-primary;
    border: 1px solid $color-primary;
    transition: background-position 0.5s;
    padding: 0 30px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out 0s;
    letter-spacing: 0.10em;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: none;
    background: $color-secondary;
    border-color: $color-secondary;
    color: $color-white;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}