/*------------------------------------------------------------
- About Us
------------------------------------------------------------*/

.about-content-wrap {
    .row {
        margin-bottom: 40px;
        @include breakpoint(x-large) {
            margin-bottom: 25px;
        }
    }
}