/*------------------------------------------------------------
- Blog
------------------------------------------------------------*/

.blog-wrap {
    .grid-item {
        margin-bottom: 50px;
    }
    .meta-info {
        li {
            list-style: none;
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            a {
                color: $color-darkest;
                font-family: $sans-Serif-Book;
                letter-spacing: 0.03em;
                &:hover {
                    color: $color-primary;
                }
            }
            &:first-child {
                border-right: 1px solid $color-darkest;
                margin-right: 5px;
                padding-right: 8px;
            }
            &:last-child {
                border-left: 1px solid $color-darkest;
                padding-left: 8px;
            }
        }
    }
    figure {
        margin-bottom: 20px;
        a {
            display: block;
            height: 460px;
            @include bg-cover(cover, center);
            @include breakpoint(x-large) { 
                height: 350px;
            }
        }
    }
    h4 {
        margin-bottom: 15px;
        color: $color-darkest;
        a {
            color: $color-darkest;
            &:hover {
                color: $color-primary;
            }
        }
    }
    .special-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social-share {
            margin-bottom: 0px;
            li {
                list-style: none;
                display: inline-block;
                margin: 0 8px;
                &:last-child {
                    margin-right: 0px;
                }
                &.facebook {
                    a {
                        color: $color-facebook;
                    }
                }
                &.twitter {
                    a {
                        color: $color-twitter;
                    }
                }
                &.linkedin {
                    a {
                        color: $color-linkedin;
                    }
                }
                a {
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

/*------ Blog Single Wrap -----*/

.blog-single-wrap {
    .special-link {
        .social-share {
            margin-top: 20px;
            li {
                a {
                    font-size: em(25);
                }
            }
        }
    }
}