/*------------------------------------------------------------
- Contact US
------------------------------------------------------------*/

.contactus-wrap {
    .map-section {
        iframe {
            width: 100%;
            height: 630px;
            @include breakpoint(x-large) {
                height: 400px;
            }
        }
    }
    .info-wrap {
        margin-bottom: 30px;
        padding: 20px 20px 0 0;
    }
    .contact-info {
        article {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0px;
            }
            h4 {
                color: $color-primary;
                margin-bottom: 15px;
            }
            a {
                color: #242424;
                font-family: $sans-Serif-Light;
                font-size: em(20);
                @include breakpoint(x-large) {
                    font-size: em(18);
                }
                &:hover {
                    color: $color-primary;
                }
            }
            ul {
                margin-bottom: 0px;
                li {
                    list-style: none;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    span {
                        color: #242424;
                        font-family: $sans-Serif-Light;
                        font-size: em(20);
                        @include breakpoint(x-large) {
                            font-size: em(18);
                        }
                        cite {
                            font-family: $sans-Serif-Bold;
                            font-size: em(20);
                            @include breakpoint(x-large) {
                                font-size: em(18);
                            }
                        }
                    }
                }
            }
        }
    }
    .form-wrap {
        border-left: 2px solid $color-grey;
        padding: 20px 0 20px 40px;
        form {
            .form-control {
                background: #f3f3f3;
            }
            .button-wrap {
                text-align: right;
                margin-top: 30px;
            }
        }
    }
}