/*----------------------------------------------------------
- Dashboard Css
----------------------------------------------------------*/

.form-check-label {
    padding-left: 0px;
    margin-bottom: 10px;
    label {
        font-size: em(20);
        font-family: $sans-Serif-Medium;
        position: relative;
        padding-left: 50px;
        color: #b3b3b3;
        .new-checkbox {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-top: -2px;
            margin-right: 8px;
            margin-bottom: 0;
            height: 18px;
            width: 18px;
            border: 1px solid $color-primary;
            background: $color-white;
            position: absolute;
            left: 0;
            top: 7px;
            border-radius: 100%;
        }
    }
}
input[type=checkbox] {
    -webkit-appearance: none;
    display: none;
    position: absolute;
    left: 0;
    top: 7px;
    &:checked + span.new-checkbox {
        background: $color-primary;
        width: 18px;
        height: 18px;
        display: inline-block;
        border-color: $color-primary;
        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 5px;
            background: transparent;
            top: 26%;
            left: 3px;
            right: 0;
            text-align: center;
            border: 2px solid #ffffff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
    }
}

.checkbox {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 0px;
    display: inline-block;
    &:last-child {
        margin-right: 0px;
    }
    label {
        margin-bottom: 0px;

    }
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-family: $sans-Serif-Medium;
        vertical-align: bottom;
        font-size: 16px;
        color: $color-black;
    }
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 14px;
        height: 14px;
        border: 2px solid #D4D4D8;
        border-radius: 100%;
        background: #fff;
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $color-primary;
        position: absolute;
        top: 7px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*----- Dashboard Section -----*/

.dashboard_main_wrap {
    padding: 50px 0px;
    background-color: #e9ecee;
    ul {
        li {
            list-style: none;
        }
    }
    .dashboard_left {
        background: $color-white;
        margin-right: 50px;
        width: 350px;
        display: inline-block;
        vertical-align: top;
        @include breakpoint(x-large) {
            width: 310px;
        }
        .dashboard_profile_sec {
            padding: 50px 0px 0px;
            @include breakpoint(x-large) {
               padding: 30px 0px 0px;
            }
        }
        .profile-img-sec {
            position: relative;
            text-align: center;
            width: 250px;
            margin: 0 auto 30px;
            figure {
                background-size: cover;
                background-position: center;
                height: 230px;
                width: 230px;
                border-radius: 100%;
                margin: 0 auto;
            }
            .uploadButton {
                background: $color-primary;
                border: 3px solid $color-primary;
                height: 35px;
                width: 35px;
                border-radius: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 7px;
                right: 30px;
                color: $color-white;
                transition: all 0.3s ease-in-out 0s;
                svg {
                    height: 18px;
                    width: 18px;
                    fill: $color-white;
                    text-align: center;
                    margin: 0 auto;
                }
                &:hover {
                    background: $color-black;
                    transform: translate(-6px, -3px);
                }
            }
            input[type=file] {
                opacity: 0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                cursor: pointer;
            }
        }
        .dashboard_nav_sec {
            ul {
                margin-bottom: 0px;
                li {
                    list-style: none;
                    transition: all 0.3s ease-in-out 0s;
                    a {
                        padding: 15px 15px 15px 70px;
                        display: block;
                        font-size: em(25);
                        color: #818181;
                        font-family: $sans-Serif-Book;
                    }
                    &.active,
                    &:hover {
                        background: #e6e6e6;
                        a {
                            color: $color-darkest;
                        }
                    }
                    &.active {
                        a {
                            font-family: $sans-Serif-Medium;
                        }
                    }
                    &.dropdown {
                        .dropdown-menu {
                            position: static !important;
                            transform: none !important;
                            border: none;
                            padding: 0px;
                            float: inherit;
                            .dropdown-item {
                                padding: 0px;
                            }
                            a {
                                padding: 8px 8px 8px 80px;
                                display: block;
                                font-size: em(20);
                                color: #818181;
                                font-family: $sans-Serif-Book;
                                &.active,
                                &:hover {
                                    color: $color-darkest;
                                }
                                &.active {
                                    font-family: $sans-Serif-Medium;
                                }
                            }
                        }
                        .dropdown-toggle {
                            padding: 0px;
                            cursor: pointer;
                            &:after {
                                display: none;
                            }
                        }
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .profile-info {
            text-align: center;
            h3 {
                font-family: $sans-Serif-Bold;
            }
            ul {
                border-bottom: 1px dotted $color-black;
                margin-bottom: 10px;
                padding-bottom: 10px;
                li {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    span {
                        font-size: em(20);
                        color: #a1a1a1;
                        font-family: $sans-Serif-Book;
                    }
                }
            }
        }
    }
    .dashboard_right {
        width: calc(100% - 405px);
        display: inline-block;
        vertical-align: top;
        @include breakpoint(x-large) {
            width: calc(100% - 365px);
        }
        .dashboard_inner_wrap {
            background: $color-white;
            min-height: 920px;
            @include breakpoint(x-large) {
                min-height: 845px;
            }
            .refresh-icon {
                text-align: center;
                i {
                    display: block;
                }
                a {
                    display: inline-block;
                    font-size: em(20);
                    font-family: $sans-Serif-Light;
                    color: $color-darkest;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
            .star-sec {
                margin-bottom: 5px;
            }
            .sec-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                h3 {
                    color: $color-primary;
                    font-family: $sans-Serif-Bold;
                    &:first-child {
                        border-bottom: 1px solid $color-primary;
                    }
                    &:nth-child(2) {
                        color: #818181;
                    }
                }
            }
            .social-share {
                h4 {
                    color: $color-darkest;
                    font-family: $sans-Serif-Book;
                    margin-bottom: 5px;
                }
                li {
                    display: inline-block;
                    margin-right: 4px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        color: $color-white;
                        border-radius: 100%;
                        height: 20px;
                        width: 20px;
                        display: inline-block;
                        text-align: center;
                    }
                    &:hover {
                        a {
                            opacity: 0.8;
                        }
                    }
                    &:first-child {
                        a {
                            background: $color-facebook;
                        }
                    }
                    &:nth-child(2) {
                        a {
                            background: $color-google;
                        }
                    }
                    &:last-child {
                        a {
                            background: $color-twitter;
                        }
                    }
                }
            }
            form {
                input.form-control {
                    height: 40px;
                    border-radius: 0px;
                }
                label {
                    font-size: em(16);
                }
                .form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 25px;
                    label,
                    .form-control {
                        width: 50%;
                    }
                    label {
                        color: #8f8f8f;
                        font-size: em(22);
                        font-family: $sans-Serif-Medium;
                    }
                }
                .button-wrap {
                    text-align: center;
                    margin: 50px auto 0;
                    button {
                        font-family: $sans-Serif-Book;
                        font-size: em(22);
                        line-height: 2.5em;
                        min-width: 250px;
                        @include breakpoint(x-large) {
                            font-size: em(19);
                        }
                    }
                }
            }
            .title-sec {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px dotted $color-black;
                padding: 20px 30px;
                margin: 0 8px;
                @include breakpoint(x-large) {
                    padding: 15px;
                }
                h3 {
                    margin-bottom: 0px;
                }
                a {
                    svg {
                        height: 20px;
                        width: 20px;
                        transition: all 0.3s ease-in-out 0s;
                        fill: #727272;
                        margin-right: 3px;
                    }
                    &:hover {
                        svg {
                            fill: $color-primary;
                        }
                    }
                }
            }
        }
    }
    .content-sec {
        padding: 20px 40px;
        @include breakpoint(x-large) {
            padding: 20px 25px;
        }
    }
}

/*------ Profile Section ------*/

.profile-info-section {
    ul {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            span {
                width: 50%;
                font-size: em(25);
                font-family: $sans-Serif-Light;
                color: #8f8f8f;
                @include breakpoint(x-large) {
                    font-size: em(20);
                }
                &:last-child {
                    font-family: $sans-Serif-Medium;
                }
            }
        }
    }
}

/*----- Refer And Earn Section ------*/

.refer-section {
    figure {
        margin-bottom: 30px;
    }
    .refer-content {
        text-align: center;
        padding: 0 13%;
        p {
            font-size: em(30);
            margin-bottom: 30px;
            @include breakpoint(x-large) {
                font-size: em(25);
            }
        }
        .link {
            display: block;
            border:1px solid $color-grey;
            padding: 10px;
            margin-bottom: 30px;
            color: $color-brand;
            font-family: $sans-Serif-Book;
            font-size: em(20);
            &:hover {
                color: $color-primary;
            }
        }
        .special-links {
            li {
                display: inline-block;
                height: 35px;
                width: 35px;
                border-radius: 100%;
                position: relative;
                margin: 0 2px;
                transition: all 0.3s ease-in-out 0s;
                &:hover {
                    transform: translateY(-6px);
                }
                svg {
                    height: 20px;
                    width: 20px;
                    fill: $color-white;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 auto;
                }
                &.messanger {
                    background: $color-messenger;
                }
                &.whatsap {
                    background: $color-whatsap;
                }
                &.facebook {
                    background: $color-facebook;
                }
                &.twitter {
                    background: $color-twitter;
                }
            }
        }
    }
}

/*----- Widget Section -----*/

.widget-section {
    a.theme-btn {
        min-width: 200px;
        text-transform: $text-capitalize;
        font-family: $sans-Serif-Book;
        font-size: em(20);
    }
    .generat-widget {
        text-align: center;
        padding-top: 120px;
        a.theme-btn {
            min-width: 250px;
        }
    }
    .generate-widget-show {
        border: 1px solid $color-grey;
        padding: 20px;
        margin-bottom: 50px;
        p {
            margin-bottom: 0px;
        }
    }
    .generat-widget-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }
}

/*----- Customer Reviews -----*/

.review-content {
    figure {
        margin-bottom: 0px;
        img {
            width: 35px;
        }
    }
}

.review-wrap {
    ul {
        margin-bottom: 0px;
        .rate-sec {
            list-style: none;
            position: relative;
            padding-left: 90px;
            border-bottom: 1px solid $color-grey;
            margin-bottom: 20px;
            padding-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
                padding-bottom: 0px;
                border: none;
            }
            figure {
                position: absolute;
                left: 0;
                top: 0;
                margin-bottom: 0px;
                height: 70px;
                width: 70px;
                img {
                    border-radius: 100%;
                }
            }
            .heading-sec {
                display: flex;
                justify-content: space-between;
                ul {
                    margin-bottom: 0px;
                }
                h4 {
                    margin-bottom: 5px;
                }
                .star-sec {
                    li {
                        margin: 0;
                        a {
                            font-size: em(15);
                            color: #f4b500;
                        }
                        &:hover {
                            a {
                                color: $color-black;
                            }
                        }
                    }
                }
            }
            span.month {
                color: $color-darkest;
                font-size: em(20);
                font-family: $sans-Serif-Light;
                display: block;
                text-align: right;
            }
        }
    }
}

/*------ History Section ------*/

.history-wrap {
    .sec-title {
        text-align: center;
        margin-bottom: 15px;
    }
    .history-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .recommended-wrap,
        h3 {
            margin-bottom: 0px;
        }
    }
    .history-listing {
        .list {
            border-bottom: 1px solid $color-grey;
            margin-bottom: 15px;
            padding-bottom: 15px;
            &:last-child {
                border: none;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            .history-nested-list {
                padding: 0 3%;
                .list {
                    border-bottom: 1px solid $color-grey;
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    &:last-child {
                        border: none;
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                    }
                    .content-wrap {
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-size: em(25);
                            font-family: $sans-Serif-Medium;
                            color: #737373;;
                            display: block;
                            @include breakpoint(x-large) {
                                font-size: em(20);
                            }
                            &:nth-child(2),
                            &:last-child {
                                font-family: $sans-Serif-Book;    
                            }
                            &.upcoming {
                                color: #c4bc2d;
                            }
                            &.attended {
                                color: #57ca29;
                            }
                            &.cancelled {
                               color: #c42b41; 
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Reservation Section -----*/

.reservation-wrap {
    .tab-wrap {
        .nav-tabs {
            border-top: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 30px;
            li {
                a {
                    color: $color-darkest;
                    font-family: $sans-Serif-Medium;
                    border-radius: 50px;
                    padding: 0 30px;
                    border: 1px solid transparent; 
                    font-size: em(30);
                    @include breakpoint(x-large) {
                        font-size: em(25);
                    }
                    &.active,
                    &:hover {
                        color: $color-white;  
                        background: #0089cf;
                        border-color: #0089cf;
                    }
                }
            }
        }
        .tab-content {
            .content-wrap {
                figure {
                    height: 400px;
                    width: 400px;
                    text-align: center;
                    margin: 0 auto 50px;
                }
            }
        }
    }
    .reservation-content {
        border: 1px solid $color-grey;
        padding: 10px;
        .available-value {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px dashed $color-grey;
            margin-bottom: 10px;
            padding-bottom: 10px;
            span {
                cite {
                    font-size: em(30);
                    color: $color-primary;
                    text-align: center;
                    display: block;
                    line-height: normal;
                    margin: 0;
                    font-family: $sans-Serif-Bold;
                }
            }
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;
            li {
                padding: 0;
                margin: 0;
                &:before {
                    display: none;
                }
                span {
                    font-size: em(20);
                    color: #818181;
                    font-family: $sans-Serif-Medium;
                    &:last-child {
                        font-family: $sans-Serif-Bold;
                        font-size: em(22);
                    }
                }
                &:first-child {
                    span {
                        &:last-child {
                            color: $color-primary;
                        }
                    }
                }
                &:nth-child(2) {
                    span {
                        &:last-child {
                            color: #c5ba31;
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        &:last-child {
                            color: #aeaeae;
                        }
                    }
                }
                &:nth-child(4) {
                    span {
                        &:last-child {
                            color: #c53146;
                        }
                    }
                }
                &:nth-child(5) {
                    span {
                        &:last-child {
                            color: #3618dd;
                        }
                    }
                }
            }
        }
    }
}

/*----- Booking Section ------*/

.booking-sec-wrap {
    .coupon-sec {
        border: 2px dashed #afafaf;
        margin-bottom: 30px;
        padding: 13px 25px;
        a {
            display: inline-block;
            &.more-detail {
                font-size: em(15);
                color: #0067c0;
                font-family: $sans-Serif-Bold;
                text-transform: $text-uppercase;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .copy-code {
            margin-top: 20px;
            a {
                border: 1px solid $color-primary;
                text-transform: $text-capitalize;
                font-size: em(18);
                color: $color-primary;
                min-width: 120px;
                text-align: center;
                line-height: 2.2;
                &:hover {
                    background: $color-primary;
                    color: $color-white;
                }
            }
        }
    }
    .grid-sec{
        border-bottom: 1px solid #cecece;
        margin-bottom: 20px;
        padding-bottom: 20px;
        &:last-child {
            border: none;
        }
        .additional-info {
            border-top: 1px dashed #cecece;
            margin-top: 20px;
            padding-top: 20px;
            .status {
                text-align: left;
            }
            h4 {
                color: #7b7b7b;
                font-family: $sans-Serif-Book;
                span {
                    color: color-black;
                    font-family: $sans-Serif-Medium;
                }
            }
        }
        .help-sec {
            border-top: 1px dashed #cecece;
            margin-top: 22px;
            padding-top: 15px;
            .help-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                span {
                    font-size: em(20);
                    font-family: $sans-Serif-Book;
                    color: #7b7b7b;
                }
            }
            ul {
                margin-bottom: 0px;
                li {
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        display: inline-block;
                        font-size: em(18);
                        font-family: $sans-Serif-Bold;
                        border: 2px solid $color-primary;
                        min-width: 150px;
                        text-align: center;
                        line-height: 2.2;
                        color: $color-primary;
                        &:hover {
                            background: $color-primary;
                            color: $color-white;
                        }
                    }
                    &:first-child {
                        a {
                            background: $color-primary;
                            color: $color-white;
                            &:hover {
                                background: $color-white;
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
        figure {
            height: 192px;
            width: 290px;
            @include bg-cover(cover, center);
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
            margin-bottom: 0px;
            @include breakpoint(x-large) {
                height: 160px;
                width: 220px;
            }
        }
        .content-item {
            width: calc(100% - 310px);
            display: inline-block;
            vertical-align: top;
            @include breakpoint(x-large) {
                width: calc(100% - 240px);
            }
            .item-content-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .icons-wrap {
                ul {
                    li {
                        display: inline-block;
                        font-size: em(25);
                        transition: all 0.3s ease-in-out 0s;
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        a {
                            color: #8f8f8f;
                        }
                        &:hover {
                            a {
                                color: $color-primary;
                            }
                        }
                        &.heart {
                            a {
                                color: #d80027;
                                &.active,
                                &:hover {
                                    i {
                                        &:before {
                                            content: "\f004";
                                            font-family: FontAwesome;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            h3 {
                color: $color-darkest;
            }
            span {
                color: #8f8f8f;
                font-size: em(22);
                font-family: $sans-Serif-Book;
                display: block;
                letter-spacing: 0.02em;
                line-height: 1.7em;
                @include breakpoint(x-large) {
                    font-size: em(19);
                }
                &.attend {
                    color: $color-darkest;
                }
            }
        }
        .status {
            text-align: right;
            span {
                color: $color-primary;
                font-size: em(22);
                font-family: $sans-Serif-Medium;
                cite {
                    color: #8f8f8f;
                    font-size: em(18);
                    font-family: $sans-Serif-Book;
                }
            }
        }
    }
    .order-status-wrap {
        h4.sec-title {
            color: $color-black;
            font-family: $sans-Serif-Medium;
            text-transform: $text-uppercase;
            display: inline-block !important;
            border-bottom: 2px solid $color-primary;
            padding-bottom: 5px;
            margin-bottom: 30px;
        }   
        .cheklist {
            padding-left: 20%;
        }
        ul {
            position: relative;
            li {
                margin-bottom: 60px;
                .new-checkbox {
                    z-index: 99;
                }
                &.active {
                    label {
                        color: #616161;
                    }
                }
            }
            &:before {
                border: 1px dashed #d4d4d4;
                height: 96%;
                content: "";
                display: inline-block;
                z-index: 1;
                position: absolute;
                left: 7.5px;
                top: 5px;
                bottom: 0;
            }
        }
    }
}

/*----- My Booking Reservation -----*/

.reservation-wrap {
    .report-wrap {
        h3 {
            text-align: center;
        }
        ul {
            text-align: center;
            margin: 0 auto;
            li {
                display: inline-block;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0px;
                }
                form {
                    .form-group {
                        margin-bottom: 10px !important;
                        position: relative;
                        border-bottom: 1px solid $color-grey;
                        width: 380px;
                        .form-control {
                           border: none;
                            width: 100% !important;
                            padding: 0 35px 0 15px;
                        }
                        button {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 10px;
                            background: none;
                            min-width: 1px;
                            border: none;
                            color: $color-primary;
                            font-size: em(20);
                            padding: 0;
                        }
                    }
                }
                a {
                    color: #001fdb;
                    font-size: em(30);
                    font-family: $sans-Serif-Book;
                    border-bottom: 1px solid #001fdb;
                    &:hover {
                        color: $color-black;
                        border-color: $color-black;
                    }
                }
            }
        }
    }
    .reservation-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }
    .reservation-listing {
        border-top: 1px solid $color-grey;
        margin-top: 15px;
        padding-top: 10px;
        .list {
            border-bottom: 1px solid $color-grey;
            margin-bottom: 15px;
            padding-bottom: 15px;
            &:last-child {
                border: none;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            .reservation-nested-list {
                padding: 0 3%;
                .list {
                    border-bottom: 1px solid $color-grey;
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    &:last-child {
                        border: none;
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                    }
                    .content-wrap {
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-size: em(25);
                            font-family: $sans-Serif-Medium;
                            color: #737373;;
                            display: block;
                            position: relative;
                            padding-left: 25px;
                            include breakpoint(x-large) {
                                font-size: em(20);
                            }
                            a {
                                color: #737373;
                                font-size: em(15);
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                &:hover {
                                    color: $color-primary;
                                }
                            }
                            &:nth-child(2),
                            &:last-child {
                                font-family: $sans-Serif-Book;    
                            }
                            &.upcoming {
                                color: #c4bc2d;
                            }
                            &.attended {
                                color: #57ca29;
                            }
                            &.cancelled {
                               color: #c42b41; 
                            }
                        }
                    }
                }
            }
        }
    }
}