/*------------------------------------------------------------
- Faq
------------------------------------------------------------*/

/*----- Faq Section -----*/

.faq-tab-wrap {
    .card{
        border: none;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0px;
        }
        .card-header {
            padding: 0px;
            border: none;
            h4 {
                margin-bottom: 0px;
            }
            .card-link {
                display: block;
                padding: 18px 18px 18px 75px;
                background: #f4f4f4;
                position: relative;
                color: #353535;
                &:hover {
                    color: $color-primary;
                }
                &:after {
                    display: none;
                }
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background: $color-primary;
                    margin-bottom: 0px;
                    width: 60px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    &:before {
                        content: "\f068";
                        font-family: FontAwesome;
                        color: $color-white;
                        font-style: normal;
                        font-size: em(20);
                    }
                }
                &.collapsed {
                    i {
                        &:before {
                            content: "\f067";
                        }
                    }
                }
            }
        }
        .panel-body {
            padding-left: 75px;
            padding-top: 20px;
        }
    }
}