/*------------------------------------------------------------
- Home Page
------------------------------------------------------------*/

/*----- Categories Section -----*/

.home-content-wrap {
    padding-top: 70px;
    .sec-wrap {
        margin-bottom: 50px;
        .sec-title {
            margin-bottom: 30px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:after {
                content: "";
                height: 2px;
                background: #e3e3e3;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: -1;
            }
            h3 {
                color: $color-darkest;
                margin-bottom: 0px;
                text-transform: $text-capitalize;
                display: inline-block;
                background: $color-white;
                padding-right: 35px;
            }
            .view-more {
                display: inline-block;
                padding-left: 35px;
                background: $color-white;
            }
        }
    }
}

/*----- Categories Section -----*/

.categories-wrap .categories-slider figure  a,
.recommedation-wrap .grid-item figure  a {
    height: 270px;
    display: block;
    @include bg-cover(cover, center);
    @include breakpoint(x-large) {
        height: 210px;
    }
}

.categories-wrap .categories-slider h4  a,
.recommedation-wrap .grid-item h4  a {
    color: $color-darkest;
    &:hover {
        color: $color-primary;
    }
}

/*----- Refercode Section -----*/

.refercode-wrap {
    figure {
        transition: all 0.3s ease-in-out 0s;
        a {
            display: block;
        }
        &:hover {
            transform: translateY(-6px);
        }
    }
}

.recommended-wrap {
    margin-bottom: 15px;
    span {
        color: $color-darkest;
        font-size: em(17);
        font-family: $sans-Serif-Medium;
        text-transform: $text-capitalize;
    }
}

/*----- Recommendation Section -----*/

.recommedation-wrap {
    &.sec-wrap {
        margin-bottom: 0px;
    }
    .grid-item {
        margin-bottom: 50px;
    }
}

.star-sec {
    li {
        list-style: none;
        display: inline-block;
        a {
            color: #f4b500;
            &:hover {
                color: $color-darkest;
            }
        }
        &:last-child {
            a {
                color: #d8d8d8;
                &:hover {
                    color: $color-darkest;
                }
            }
        }
    }
}

.price-slider,
.sidebar-price-slider {
    .price-sec {
        @include bg-cover(cover, center);
        min-height: 110px;
        margin: 0 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include breakpoint(x-large) {
            min-height: 80px;
        }
        span,
        cite {
            display: block;
            margin-bottom: 0px;
            color: $color-white;
        }
        .time {
            font-size: em(16);
            font-family: $sans-Serif-Medium;
            @include breakpoint(x-large) {
                font-size: em(14);
            }
        }
        .discount {
            font-size: em(28);
            font-family: $sans-Serif-Bold;
            @include breakpoint(x-large) {
                font-size: em(21);
            }
        }
        .price-content {
            text-align: center;
            padding-top: 7px;
        }
    }
}

/*----- Blog Section -----*/

.our-blog-wrap {
    .grid-item {
        figure {
            a {
                height: 250px;
                display: block;
                @include bg-cover(cover, center);
                @include breakpoint(x-large) {
                    height: 210px;
                }
            }
        }
        h3 {
            margin-bottom: 15px;
            a {
                color: $color-darkest;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .meta-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
            padding: 7px 0px;
            margin-bottom: 15px;
            span {
                color: $color-darkest;
                font-family: $sans-Serif-Book;
                i {
                    color: $color-primary;
                    margin-right: 5px;
                }
            }
        }
    }
}

/*----- Join Us Wrap -----*/

.join-us-wrap {
    @include bg-cover(cover, center);
    padding: 120px 0px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
    }
    .left-content {
        padding-right: 12%;
    }
    h3 {
        font-family: $sans-Serif-Medium;
        color: $color-white;
        font-size: em(40);
        display: inline-block;
        margin-bottom: 25px;
        line-height: 0.5;
        &:after {
            content: "";
            display: inline-block;
            background: $color-primary;
            height: 2px;
            width: 100%;
        }
    }
    p {
        color: $color-white;
    }
    .joinus {
        color: $color-primary;
        font-size: em(25);
        font-family: $sans-Serif-Book;
        border: 1px solid $color-primary;
        padding: 1px 15px;
        margin-top: 25px;
        display: inline-block;
        &:hover {
            background: $color-primary;
            color: $color-white;
        }
    }
}

/*----- Download App Section -----*/

.download-app-wrap {
    padding: 50px 0px 20px 0;
    .row {
        align-items: center;
    }
    .left-content {
        text-align: right;
        padding-right: 3%;
        h3 {
            font-family: $sans-Serif-Medium;
            color: $color-darkest;
            font-size: em(40);
            display: inline-block;
            margin-bottom: 25px;
            line-height: 0.5;
            &:after {
                content: "";
                display: inline-block;
                background: $color-primary;
                height: 2px;
                width: 100%;
            }
        }
        p {
            color: #838383;
        }
        .special-icon {
            margin-top: 40px;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0px;
                }
                a {
                    display: inline-block;
                    max-width: 150px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}