/*------------------------------------------------------------
- Services
------------------------------------------------------------*/

.service-sec-wrap {
    background: #f1f1f1;
    .top-searchbar {
        background: $color-white;
        padding: 15px 0px;
        margin-bottom: 10px;
        form {
            text-align: right;
            .relative {
                position: relative;
                margin-bottom: 0px;
                .form-control {
                    padding: 2px 130px 2px 45px;
                }
                &.form-group {
                    max-width: 820px;
                    margin-left: auto;
                    @include breakpoint(x-large) { 
                        max-width: 600px;
                    }
                }
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border-radius: 0px;
                    padding: 0 30px;
                    font-size: em(20);
                    letter-spacing: 0.02em;
                    font-family: $sans-Serif-Medium;
                }
                svg {
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    fill: #a7a5a6;
                }
            }
        }
    }
    .breadcrumbs-wrap {
        margin-bottom: 15px;
        ul {
            margin-bottom: 0px;
            li {
                list-style: none;
                display: inline-block;
                position: relative;
                a {
                    color: #949494;
                    font-size: em(17);
                    font-family: $sans-Serif-Book;
                    letter-spacing: 0.03em;
                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        margin: 0 8px;
                    }
                    &.active {
                        color: $color-primary;
                    }
                }
                &:first-child {
                    a {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .service-top-news {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h4 {
            color: $color-darkest;
        }
        ul {
            li {
                list-style: none;
                display: inline-block;
                a {
                    display: inline-block;
                    background: $color-white;
                    border: 1px solid $color-grey;
                    color: #828282;
                    font-family: $sans-Serif-Book;
                    font-size: em(18);
                    padding: 2px 15px;
                    &:hover,
                    &.active {
                        background: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .grid-wrap {
        .grid-item {
            margin-bottom: 30px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            figure {
                display: block;
                height: 275px;
                @include bg-cover(cover, center);
                position: relative;
                margin-bottom: 0px;
                @include breakpoint(x-large) { 
                    height: 200px;
                }
                .likes {
                    background: $color-white;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 5px 15px;
                    a {
                        color: #686868;
                        font-size: em(18);
                        font-family: $sans-Serif-Medium;
                        display: inline-block;
                        line-height: normal;
                        i {
                            color: #ff1515;
                        }
                        &:hover {
                            i {
                                &:before {
                                    content: "\f004";
                                }
                            }
                        }
                    }
                }
                .rating {
                    background: $color-white;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    ul {
                        margin-bottom: 0px;
                        padding: 5px;
                        li {
                            list-style: none;
                            display: inline-block;
                            a {
                                display: inline-block;
                            }
                            span {
                                color: #686868;
                                font-size: em(18);
                                font-family: $sans-Serif-Medium;
                            }
                            &:first-child {
                                border-right: 1px solid $color-grey;
                                margin-right: 5px;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
            .content {
                background: $color-white;
                padding: 15px;
                h4 {
                    margin-bottom: 6px;
                    a {
                        color: $color-darkest;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                .info {
                    font-family: $sans-Serif-Book;
                    color: #6a6a6a;
                    letter-spacing: 0.02em;
                    border-bottom: 1px solid $color-grey;
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    display: block;
                }
                .star-sec {
                    margin-bottom: 6px;
                }
                
                .price-slider {
                    .price-sec {
                        min-height: 96px;
                        @include breakpoint(x-large) { 
                            min-height: 60px;
                        }
                    }
                }
            }
        }
    }
    .service-content-wrap {
        .left_section {
            width: 330px;
            margin-right: 30px;
            display: inline-block;
            vertical-align: top;
            .sidebar {
                .coupon-wrap {
                    background: $color-white;
                    padding: 20px;
                    margin-bottom: 25px;
                    h3 {
                        color: $color-black;
                        font-family: $sans-Serif-Bold;
                        margin-bottom: 25px;
                    }
                    ul {
                        li {
                            list-style: none;
                            display: inline-block;
                        }
                    }
                    .offer {
                        margin-bottom: 20px;
                        li {
                            span {
                                color: #777777;
                                font-family: $sans-Serif-Book;
                                font-size: em(18);
                            }
                            &:first-child {
                                border-right: 1px solid #777777;;
                                margin-right: 4px;
                                padding-right: 7px;
                            }
                        }
                    }
                    .links {
                        li {
                            &:first-child {
                                margin-right: -3px;
                                a {
                                    border: 1px dashed $color-grey;  
                                    display: inline-block;
                                    color: $color-primary;
                                }
                            }
                            &:last-child {
                                a {
                                    background: #f1f1f1;
                                    display: inline-block;
                                    border: 1px solid $color-grey;
                                }
                            }
                            a {
                                font-size: em(16);
                                font-family: $sans-Serif-Medium;
                                padding: 5px 10px;
                                color: #777777;
                                &:hover {
                                    color: $color-black;
                                }
                            }
                        }
                    }
                    .valid-wrap {
                        border-top: 1px solid $color-grey;
                        padding-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cite,
                        a {
                            font-size: em(18);
                            font-family: $sans-Serif-Book;
                        }
                        cite {
                            color: #777777;
                        }
                        a {
                            color: $color-primary;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
                .slick-arrow {
                    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
                    border-radius: 100%;
                    height: 30px;
                    width: 30px;
                    background: $color-white;
                    i {
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        left: 0;
                        right: 0;
                        color: $color-black;
                    }
                    &.slick-prev {
                        display: none !important;
                    }
                    &.slick-next {
                        right: -35px;
                    }
                    &:hover {
                        i {
                            color: $color-primary;
                        }
                    }
                }
                .sidebar-info-wrap {
                    background: $color-white;
                    padding: 20px;
                    h4 {
                        color: #6c6c6b;
                        font-family: $sans-Serif-Book;
                        letter-spacing: 0.02em;
                    }
                }
            }
        }
        .right_section {
            width: calc(100% - 365px);
            display: inline-block;
            vertical-align: top;
        }
    }
}

.categoties-wrap {
    border-bottom: 1px solid $color-grey;
    margin-bottom: 15px;
}

.location-wrap {
    form {
        margin-bottom: 20px;
    }
}
.view-more-wrap {
    padding-bottom: 10px;
    a {
        color: $color-primary;
        font-size: em(17);
        font-family: $sans-Serif-Light;
        i {
            margin-right: 5px;
        }
        &:hover {
            color: $color-darkest;
        }
    }
}

.card{
    margin-bottom: 10px;
    border: none;
    background: none;
    span,
    cite {
        display: inline-block;
        color: #6c6c6c;
        font-size: em(18);
        font-family: $sans-Serif-Book;
    }
    .card-header {
        padding: 0px;
        border: none;
        background: transparent;
        h6 {
            margin-bottom: 0px;
        }
        .card-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 13px;
            position: relative;
            margin-bottom: 6px;
            transition: all 0.3s ease-in-out 0s;
            margin-bottom: 0px;
            &:after {
                content: "\f107";
                font-family: FontAwesome;
                color: $color-primary;
                font-style: normal;
                font-size: em(20);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right:0;
            }
            &.collapsed {
                &:after {
                    content: "\f105";
                    color: #6c6c6b;
                }
            }
            &:hover {
                span,
                cite {
                    color: $color-primary;
                }
                &:after {
                    color: $color-primary;
                }
            }
        }
    }
    .panel-body {
        margin-top: 5px;
        ul {
            margin-bottom: 0px;
            li {
                list-style: none;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0px;
                }
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 12px 0 25px;
                    position: relative;
                    &:after {
                        content: "\f105";
                        font-family: FontAwesome;
                        color: #6c6c6c;
                        font-style: normal;
                        font-size: em(20);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right:0;
                    }
                    &:hover {
                        span,
                        cite {
                            color: $color-primary;
                        }
                        &:after {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        .panel-title {
            display: inherit;
        }
    }
} 

.form-check-label {
    label {
        .new-checkbox {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-top: -5px;
            margin-right: 8px;
            margin-bottom: 0;
            height: 18px;
            width: 18px;
            border: 1px solid $color-grey;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}
input[type=checkbox] {
    -webkit-appearance: none;
    display: none;
    position: absolute;
    left: 0;
    top: 7px;
    &:checked + span.new-checkbox {
        background: $color-primary;
        width: 15px;
        height: 15px;
        display: inline-block;
        border-color: $color-primary;
        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 5px;
            background: transparent;
            top: 26%;
            left: 2px;
            right: 0;
            text-align: center;
            border: 2px solid #ffffff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
    }
}

.checkbox {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 0px;
    display: inline-block;
    &:last-child {
        margin-right: 0px;
    }
    label {
        margin-bottom: 0px;

    }
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-family: $sans-Serif-Medium;
        vertical-align: bottom;
        font-size: 16px;
        color: $color-black;
    }
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 14px;
        height: 14px;
        border: 2px solid #D4D4D8;
        border-radius: 100%;
        background: #fff;
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $color-primary;
        position: absolute;
        top: 7px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*----- Restaurant Single Section -----*/

.restaurant-single-wrapper {
    .left_side {
        width: calc(100% - 465px);
        padding-right: 50px;
        display: inline-block;
        vertical-align: top;
        @include breakpoint(x-large) { 
            width: calc(100% - 335px);
        }
    }
    .right_side {
        width: 460px;
        display: inline-block;
        vertical-align: top;
        @include breakpoint(x-large) { 
            width: 330px;
        }
        .sidebar {
            border: 1px solid $color-grey;
            ul {
                li {
                    list-style: none;
                }
            }
            .sec-title {
                border-bottom: 1px dotted $color-black;
                padding: 15px;
                margin-bottom: 0px;
                h3 {
                    margin-bottom: 0px;
                }
            }
            .timer-content {
                padding: 5px 20px 5px;
                border-bottom: 1px dotted $color-black;
                .time-sec {
                    text-align: right;
                    span {
                        color: $color-primary;
                        font-size: em(25);
                        font-family: $sans-Serif-Medium;
                    }
                }
                .time-info {
                    ul {
                        li {
                            margin-bottom: 15px;
                            span,
                            cite {
                                color: #a8a8a8;
                                font-size: em(20);
                                letter-spacing: 0.02em;
                            }
                            span {
                                font-family: $sans-Serif-Light;
                            }
                            cite {
                                font-family: $sans-Serif-Medium;
                                font-size: em(17);
                            }
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
            .terms-content {
                padding: 20px;
                ul {
                    li {
                        color: $color-darkest;
                        font-size: em(18);
                        font-family: $sans-Serif-Light;
                        @include breakpoint(x-large) { 
                            font-size: em(16);
                        }
                        cite,
                        a {
                            font-family: $sans-Serif-Medium;
                            color: $color-primary;
                            font-size: em(18);
                            @include breakpoint(x-large) { 
                                font-size: em(16);
                            }
                        }
                        a {
                            &:hover {
                                color: $color-darkest;
                            }
                        }
                    }
                }
                .buttons-wrap {
                    margin: 20px auto 0;
                    text-align: center;
                    ul {
                        li {
                            display: inline-block;
                            button {
                                padding: 0 25px;
                                font-family: $sans-Serif-Light;
                            }
                            &:first-child {
                                margin-right: 10px;
                                button {
                                    background: #696a68;
                                    border-color: #696a68;
                                }
                                &:hover {
                                    button {
                                        background: $color-primary;
                                        border-color: $color-primary;
                                    }
                                }
                            }
                            &:last-child {
                                &:hover {
                                    button {
                                        background: #696a68;
                                        border-color: #696a68;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sidebar-content {
                padding: 20px;
                .sidebar-price-slider {
                    margin-bottom: 10px;
                    .price-sec {
                        min-height: 85px;
                        @include breakpoint(x-large) { 
                            min-height: 58px;
                        }
                    }
                    .time {
                        font-size: em(15);
                        @include breakpoint(x-large) {
                            font-size: em(13);
                        }
                    }
                    .discount {
                        font-size: em(25);
                        @include breakpoint(x-large) {
                            font-size: em(18);
                        }
                    }
                }
                form {
                    .form-control {
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        padding: 0px;
                    }
                    .button-wrap {
                        text-align: center;
                        margin: 0 auto 10px;
                        padding-top: 15px;
                        button {
                            font-family: $sans-Serif-Book;
                            font-size: em(22);
                            padding: 0 40px;
                            @include breakpoint(x-large) {
                                font-size: em(17);
                            }
                        }
                    }
                }
                .select-list {
                    margin-bottom: 20px;
                    select {
                        border-bottom: 1px solid $color-grey;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        margin-bottom: 8px;
                        padding-bottom: 10px;
                        padding: 0px;
                        color: #a8a8a8;
                        font-size: em(20);
                        font-family: $sans-Serif-Light;
                    }
                }
            }
        }
    }
    .restaurant-single-content {
        figure {
            height: 350px;
            @include bg-cover(cover, center);
            margin-bottom: 30px;
            @include breakpoint(x-large) {
                height: 300px;
            }
        }
        .content-info {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dotted $color-black;
            margin-bottom: 20px;
            padding-bottom: 20px;
            p {
                margin-bottom: 0px;
            }
            .recommended-wrap {
                margin-bottom: 0px;
            }
        }
        .tab-wrap {
            .likes-sec {
                text-align: right;
                margin-bottom: -31px;
                a {
                    font-size: em(24);
                    color: $color-darkest;
                    display: inline-block;
                    &:hover {
                        i {
                            &:before {
                                content: "\f004";
                                color: #e90e0e;
                            }
                        }
                    }
                }
            }
            ul.nav-tabs {
                border-bottom: none;
                margin-bottom: 40px;
                li {
                    margin-right: 10%;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        display: inline-block;
                        font-family: $sans-Serif-Medium;
                        color: $color-darkest;
                        font-size: em(24);
                        text-transform: $text-capitalize;
                        &:after {
                            content: "";
                            background: transparent;
                            height: 3px;
                            width: 100%;
                            display: block;
                            margin-top: 7px;
                        }
                        &:hover,
                        &.active {
                            &:after {
                                background: $color-primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .restaurent-wrap {
        margin-bottom: 30px;
    }
    .similar-item-wrap {
        h4 {
            margin-bottom: 20px;
        }
        .item {
            figure {
                a {
                    height: 260px;
                    @include bg-cover(cover, center);
                    display: block;
                    @include breakpoint(x-large) { 
                        height: 200px;
                    }
                }
            }
            h4 {
                a {
                    color: $color-darkest;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    #ratings {
        .rating-wrap {
            .sec-title {
                cite {
                    color: $color-primary;
                }
            }
            .read-more {
                text-align: right;
                display: block;
                a {
                    color: $color-primary;
                    &:hover {
                        color: $color-darkest;
                    }
                }
            }
            ul {
                margin-bottom: 0px;
                .rate-sec {
                    list-style: none;
                    position: relative;
                    padding-left: 120px;
                    border-bottom: 1px solid $color-grey;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    figure {
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin-bottom: 0px;
                        img {
                            border-radius: 100%;
                        }
                    }
                    .heading-sec {
                        display: flex;
                        justify-content: space-between;
                        h4,
                        ul {
                            margin-bottom: 0px;
                        }
                        .star-sec {
                            li {
                                margin: 0;
                                a {
                                    font-size: em(15);
                                    color: #f4b500;
                                }
                                &:hover {
                                    a {
                                        color: $color-black;
                                    }
                                }
                            }
                        }
                    }
                    span {
                        color: $color-darkest;
                        font-size: em(20);
                        font-family: $sans-Serif-Light;
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
    }
    #map {
        .map-section {
            height: 300px;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
    }
    #recommended-menu {
        .recommended-wrap {
            table,
            tr th,
            tr, td {
                border: none;
                vertical-align: middle;
                padding: 8px 0px;
            }
            table {
                width: 100%;
                tr {
                    margin-bottom: 10px;
                    .menu {
                        width: 530px;
                    }
                    .price {
                        width: 120px;
                    }
                    .discount {
                        width: 150px;
                    }
                    .value {
                        width: 80px;
                    }
                    th {
                        font-size: em(24);
                        color: $color-darkest;
                        font-family: $sans-Serif-Medium;
                        select {
                            border-radius: 50px;
                            height: 30px;
                            padding: 0px 10px;
                            font-size: em(16);
                            line-height: 30px;
                        }
                    }
                    td {
                        font-size: em(20);
                        color: $color-darkest;
                        font-family: $sans-Serif-Light;
                        .number {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border: 1px solid $color-grey;
                        }
                        span {
                            cursor:pointer; 
                            transition: all 0.3s ease-in-out 0s;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                        .minus, .plus{
                            width: 30px;
                            text-align: center;
                            font-size: em(20);
                        }
                        input{
                            height:30px;
                            width: 40px;
                            text-align: center;
                            font-size: em(20);
                            border: none;
                            padding: 0px;
                            color: $color-primary;
                            font-family: $sans-Serif-Light;
                        }
                    }
                }
            }
            .view-more-wrap {
                border-bottom: 1px solid $color-grey;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            ul {
                li {
                    list-style: none;
                    font-family: $sans-Serif-Light;
                    font-size: em(20);
                    color: #4c4c4c;
                    margin-bottom: 15px;
                    span {
                        color: $color-primary;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

/*----- Edit Reservation -----*/

.edit-reservation-wrap {
    .sec-title {
        border-bottom: 1px dotted $color-black;
        margin-bottom: 20px;
        padding-bottom: 20px;
        h3 {
            text-align: left;
            margin-bottom: 0px;
        }
    }
    .edit-reservation-sec {
        ul.edit-reservation-list {
            margin-bottom: 50px;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
                span {
                    font-size: em(22);
                    &:first-child {
                        width: 75%;
                        color: $color-black;
                    }
                    &:last-child {
                        width: 25%;
                        border: none;
                        padding: 0px;
                        font-family: $sans-Serif-Book;
                        color: #a9a9a9;
                    }
                }
            }
        }
        ul.change-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                width: 48%;
                a {
                    display: block;
                    background: $color-primary;
                    line-height: 1.8;
                    font-size: em(30);
                    font-family: $sans-Serif-Medium;
                    border-radius: 50px;
                    text-align: center;
                    color: $color-white;
                    &:hover {
                        background: #979797;
                    }
                }
                &:first-child {
                    a {
                        background: #979797;
                        &:hover {
                           background: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

/*----- Reservation Completed -----*/

.reservation-completed-wrap {
    .thankyou-wrap {
        margin-bottom: 20px;
    }
    .edit-reservation-wrap {
        margin-bottom: 50px;
        .edit-reservation-sec {
            .edit-reservation-list {
                li {
                    span {
                        &:first-child {
                            font-family: $sans-Serif-Light;
                        }
                        &:last-child {
                            font-family: $sans-Serif-Medium;
                            color: $color-black;
                        }
                    }
                }
            }
            .change-btn {
                li {
                    &:first-child {
                        a {
                            background: $color-primary;
                            &:hover {
                                background: #979797;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            background: #bc181f;
                            &:hover {
                                background: #979797;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-wrap {
        article {
            address {
                font-size: em(24);
                color: $color-primary;
                font-family: $sans-Serif-Medium;
                margin-bottom: 10px;
            }
            .map-sec {
                height: 420px;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/*----- Restaurant Pgae -----*/

.restuarnt-cart-wrap {
    background: #e9ecee;
    .content-wrap {
        article {
            background: $color-white;
            padding: 30px;
            margin-bottom: 20px;
            position: relative;
            &:first-child {
                &:before {
                    content: "";
                    border: 1px dashed #b6b6b6;
                    height: 100%;
                    position: absolute;
                    top: 45px;
                    bottom: 0;
                    left: -13px;
                }
            }
            h3 {
                margin-bottom: 0px;
            }
            p {
                font-size: em(20);
                margin-top: 5px;
                margin-bottom: 0px;
            }
            .progress-icon {
                display: inline-block;
                background: $color-white;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
                padding: 8px;
                position: absolute;
                left: -29px;
                margin-top: -6px;
                &.active {
                    background: $color-black;
                }
            }
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .change-wrap {
                    width: 75%;
                    margin-left: 15px;
                    display: flex;
                    justify-content: space-between;
                    .form-check-label {
                        margin-top: -10px;
                    }
                    a {
                        color: $color-primary;
                        font-size: em(18);
                        text-transform: $text-uppercase;
                        &:hover {
                            color: $color-black;
                        }
                    }
                }
            }
            .other-item {
                margin-top: 40px;
                p {
                    margin-bottom: 5px;
                }
            }
            .add-new-item {
                width: 360px;
                padding: 20px;
                border: 2px dashed #b6b6b6;
                position: relative;
                padding-left: 60px;
                margin-top: 50px;
                figure {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                }
                p {
                    font-size: em(20);
                    margin-top: 10px;
                }
                .add-new {
                    color: $color-primary;
                    font-size: em(18);
                    font-family: $sans-Serif-Book;
                    border: 2px solid $color-primary;
                    line-height: 2;
                    padding: 0 20px;
                    margin-top: 30px;
                    display: inline-block;
                    &:hover {
                        background: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .sidebar-wrap {
        padding: 25px;
        background: $color-white;
        .top-grid {
            position: relative;
            padding-left: 110px;
            border-bottom: 1px dotted $color-black;
            margin-bottom: 15px;
            padding-bottom: 15px;
            height: 105px;
            figure {
                @include bg-cover(cover, center);
                width: 90px;
                height: 85px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .content {
                padding-top: 8px;
                h3 {
                    margin-bottom: 3px;
                }
                cite {
                    &:after {
                        content: "";
                        height: 2px;
                        background: #242424;
                        width: 100px;
                        display: block;
                        margin-top: 6px;
                    }
                }
            }
        }
        .quentity-wrap {
            margin-bottom: 20px;
            form {
                margin-bottom: 20px;
                input {
                    background: #f9f9f9;
                    font-size: em(15);
                    border-color: #f9f9f9;
                }
            }
            .apply-coupon {
                display: block;
                font-size: em(20);
                font-family: $sans-Serif-Book;
                color: #9b9b9b;
                padding: 10px;
                border: 1px dashed #9b9b9b; 
                img {
                    margin-right: 10px;
                }
            }
        }
        .sidebar-price-slider {
            margin-bottom: 20px;
            .price-sec {
                min-height: 85px;
                @include breakpoint(x-large) { 
                    min-height: 62px;
                }
            }
        }
        .number {
            border: 1px solid $color-grey;
            .minus, .plus{
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                padding: 0 10px;
                cursor: pointer;
                font-size: em(20);
                &:hover {
                    color: $color-primary;
                }
            }
            input{
                height: 32px;
                font-size: em(20);
                width: 25px;
                padding: 0px;
                text-align: center;
                border: none;
                vertical-align: middle;
            }
        }
        .detail-sec {
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    cite {
                        font-size: em(16);
                        color: #929292;
                        display: block;
                    }
                    span {
                        color: #4c4c4c;
                        font-family: $sans-Serif-Book;
                    }
                    .left-content {
                        span {
                            font-size: em(20);
                        }
                    }
                    .right-content {
                        span {
                            font-size: em(18);
                        }
                    }
                    &:last-child {
                        border-top: 2px solid #a3a3a3;
                        margin-top: 20px;
                        padding-top: 20px;
                        margin-bottom: 0px;
                        span {
                            font-family: $sans-Serif-Bold;
                        }
                    }
                }
            }
        }
        .inc-dec {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                position: relative;
                padding-left: 25px;
                width: 55%;
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }
            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -5px;
                width: 45%;
            }
        }
        .customize {
            display: inline-block;
            color: $color-black;
            font-family: $sans-Serif-Light;
            font-size: em(20);
            margin-bottom: 10px;
            &:hover {
                color: $color-black;
                i {
                    color: $color-black;
                }
            }
            i {
                color: $color-primary;
                margin-left: 5px;
            }
        }
    }
}