/*------------------------------------------------------------
- Parameters
------------------------------------------------------------*/

// Futura Heavy
@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('../fonts/futurapt-heavy.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/futurapt-heavy.otf')  format('opentype'),
       url('../fonts/futurapt-heavy.woff') format('woff'), 
       url('../fonts/futurapt-heavy.ttf')  format('truetype'), 
       url('../fonts/futurapt-heavy.svg#futurapt-heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Futura Medium
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../fonts/futurapt-medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/futurapt-medium.otf')  format('opentype'),
       url('../fonts/futurapt-medium.woff') format('woff'), 
       url('../fonts/futurapt-medium.ttf')  format('truetype'), 
       url('../fonts/futurapt-medium.svg#futurapt-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Futura Light
@font-face {
  font-family: 'FuturaPT-Light';
  src: url('../fonts/futurapt-light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/futurapt-light.otf')  format('opentype'),
       url('../fonts/futurapt-light.woff') format('woff'), 
       url('../fonts/futurapt-light.ttf')  format('truetype'), 
       url('../fonts/futurapt-light.svg#FuturaPT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Futura Demi
@font-face {
  font-family: 'FuturaPT-DemiBold';
  src: url('../fonts/futurapt-demibold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/futurapt-demibold.otf')  format('opentype'),
       url('../fonts/futurapt-demibold.woff') format('woff'), 
       url('../fonts/futurapt-demibold.ttf')  format('truetype'), 
       url('../fonts/futurapt-demibold.svg#futurapt-demibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Futura Book
@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/futurapt-book.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/futurapt-book.otf')  format('opentype'),
       url('../fonts/futurapt-book.woff') format('woff'), 
       url('../fonts/futurapt-book.ttf')  format('truetype'), 
       url('../fonts/futurapt-book.svg#futurapt-book') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Colors
$color-primary: #57ca29;
$color-secondary: #2c2c2c;
$color-light: #e0e0e0;
$color-lightest: #e7e7e7;
$color-darkest: #2c2c2c;
$color-grey: #dfdfdf;
$color-brand: #0067c0;
$color-white: #ffffff;
$color-black: #000000;

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;
$color-whatsap: #25d366;

// Font Size
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;

// Font Family
$sans-serif: 'FuturaPT-Heavy';
$sans-Serif-Medium: 'FuturaPT-Medium';
$sans-Serif-Light: 'FuturaPT-Light';
$sans-Serif-Bold: 'FuturaPT-DemiBold';
$sans-Serif-Book: 'FuturaPT-Book';

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;

// Animation
$anime-in: .4s;
$anime-out: .5s;

// Base Font
$base-font-size: 16;